*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://media2.giphy.com/media/PiuL0MyzhlQv9fkNrY/giphy.gif");
       /* Full height */
       height: 1000px;
  
       /* Center and scale the image nicely */
       background-position: downe;
       background-repeat: no-repeat;
       background-size: cover;
   
    background-color: #080710;

}
.i1{
    width: 50px;
     height: 50px;
     position: absolute;
     top: 6%;
     left: 10%;
     transform: translate(-50%, -50%);
     
     
}
.i2{
    width: 62px;
     height: 101px;
     position: absolute;
     top: 6%;
     left: 90%;
     transform: translate(-50%, -50%);
     
}
h1{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
        font-size: 32px;
        font-weight: 500;
        line-height: 82px;
        text-align: center;
    }

    h4{
        font-family: 'Poppins',sans-serif;
        color: #ffffff;
            font-size: 15px;
            font-weight: 500;
            line-height: 2px;
            text-align: center;
        }
    
form{
    height: 604px;
    width: 334px;
    background-color: rgba(255, 255, 255, 0.267);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.26);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.521);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover{
    background: #0084ff;

    }

#bottom {
        position: absolute;
        bottom: -160px;
        left: 20px;
        font-size: 12px;
        color: #ffffff;
      }